
html {  background-color: #DBDBDB;  }
h1, h2, h3, h4, h5, h6 {  font-family: "Josefin Sans", sans-serif;  }
h1 { font-size : 3rem; }
button {  outline: none;  }

.calculator-body {
    margin: 7rem auto;
    background-color: #8D8D8D;
    width: 30rem;
    height: 40rem;
}
.calculator-screen {
    width: 103%;
    height: 25%;
    margin-left: -0.45rem;
    background-color: #C0C0C0;
    box-shadow: 0 0 5rem rgb(20, 20, 20);
    position: relative;
}
.entry {
    height: 58%;
    width: 89%;
    position: absolute;
    top: 1rem;
    left: 1.5rem;
    overflow: hidden;
}
.entry h1 {
    color: #3D3D3D;
    float: right;
}
.all-entries {
    width: 89%;
    height: 20%;
    margin: auto;
    overflow: hidden;
    position: absolute;
    top: 7rem;
    left: 1.5rem;
}
.all-entries h2 {
    position: absolute;
    top: -1rem;
    right: 0;
    color: #8D8D8D;
}
.buttons {
    background-color: #C0C0C0;
    width: 90%;
    height: 65%;
    margin: 2rem auto;
    box-shadow: 0 0 5rem rgb(20, 20, 20);
}
.button-row {
    margin: 0.1rem auto;
    width: inherit;
    height: 5.08rem;
    display: flex;
    justify-content: space-between;
}
.button {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.5rem;
    border: 1px solid transparent;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 9rem;
    margin-top: 0.3rem;
}
.button-number, #button_dot {
    background-color: #E0E0E0;
    color: #6F6F6F;
}
.button-operator {
    background-color: #6F6F6F;
    color: #E0E0E0;
    font-weight: bold;
    font-size: 2rem;
}
.button-clear {
    background-color: #9D0404;
    color: #E0E0E0;
}
.footer{
    text-align: center;
    color: #8D8D8D;
}
.footer a, .footer a:hover {
    text-decoration: none;
    color: #8D8D8D;
}
.footer a:hover {
    color: #FFF;
}
/* hidden buttons */
#button_hide2{  display: none;  }
#button_hide_enter {  background-color: inherit;  }

#button_enter {
background-color: #9BEBBD;
height: 9.7rem;
color: #6F6F6F;
}

#button_0 {  width: 11.3rem;  }